@charset "UTF-8";
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: #000000;
}

h1 {
  color: yellow;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.titulo_principal {
  font-size: 3.5em;
  font-weight: 700;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
  padding-bottom: 25px;
}

.titulo_mediano {
  font-size: 2.87em;
  font-weight: 700;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  line-height: 50px;
  padding-bottom: 20px;
}

.titulo_pequeño {
  font-size: 2.57em;
  font-weight: 700;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  line-height: 45px;
  padding-bottom: 25px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: start;
}

.boton_celeste {
  justify-items: center;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #02A4FF;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  height: 50px;
  line-height: 15px;
}

.boton_blanco {
  justify-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #02A4FF;
  background-color: #ffffff;
  padding: 4px 4px;
  border-radius: 4px;
  text-decoration: none;
  height: 50px;
  line-height: 15px;
  border: solid 2px #02A4FF;
  width: 100%;
}

.boton_nav {
  padding: 8px 10px;
  justify-items: center;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #02A4FF;
  border-radius: 4px;
  height: 30px;
  line-height: 15px;
  width: 100px;
}

.boton_blanco_nav {
  padding: 7px 10px;
  justify-items: center;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  border-radius: 4px;
  height: 30px;
  line-height: 15px;
  width: 100px;
}

.boton_blanco_nav:hover {
  background-color: #F0F0F0;
}

.boton_blanco_nav:active {
  background-color: #F0F0F0;
  border: solid 2px black;
}

.boton_celeste:hover {
  color: #ffffff;
  background-color: #008EDE;
}

.boton_celeste:active {
  color: #ffffff;
  background-color: #027EC3;
}

.boton_blanco:hover {
  color: #ffffff;
  background-color: #008EDE;
}

.boton_blanco:active {
  color: #ffffff;
  background-color: #027EC3;
}

.boton_nav:hover {
  color: #ffffff;
  background-color: #008EDE;
}

.boton_nav:active {
  color: #ffffff;
  background-color: #027EC3;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-size: 16px;
}

p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  max-width: 1500px;
}

/*NAVEGACIÓN*/
.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 2px #E5E5E5;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menus {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.show {
  top: 65px;
  border: solid 4px red;
}

.img-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.menu-container div {
  font-size: 12px;
  font-weight: 500;
}

/*BANNER PRINCIPAL*/
.banner-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.text-banner {
  padding-top: 105px;
  padding-left: 141px;
  margin-right: -100px;
}

.text-banner p {
  padding-bottom: 20px;
  font-size: 16px;
}

.img-banner {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

.img-banner-prin {
  width: auto;
  height: auto;
  max-width: 100%;
}

/*SECCIÓN 2*/
.section-two {
  padding: 0px 0 50px 0;
  font-size: 16px;
}

.section_tecnologia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 100px 0 100px;
  justify-items: center;
  font-size: 1em;
}

.text-tec-izq {
  padding: 50px 100px 0 100px;
  font-size: 16px;
}

.text-tec-izq p {
  font-size: 16px;
  line-height: 25px;
}

.icon_container {
  display: inline-block;
  /*padding-right: 100px;*/
}

.img-tec {
  height: 60px;
  width: 60px;
}

.tec_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.tec_icons div h2 {
  font-size: 1em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.tec_icons div {
  padding-left: 10px;
}

.icon_container .tec_icons p {
  font-size: 1em;
}

.section_logo_empre {
  padding: 0 100px;
}

.logo_empresas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(160px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  justify-items: center;
}

.img-logo {
  width: 160px;
  height: 160px;
}

/*SECCION 3*/
.section-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 50px 100px 50px 100px;
  width: 100%;
  font-size: 14px;
}

.section-three-img {
  width: 100%;
  height: 550px;
}

.img-colaboradores {
  max-width: 100%;
  min-width: 400px;
  height: 550px;
}

.text-colaboradores {
  padding-right: 60px;
}

.colaboradores-items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colaboradores-items div p {
  padding-left: 6px;
}

.button-container {
  margin-top: 5px;
}

/*SECCIÓN 4*/
.section-four {
  padding: 60px 260px 50px 260px;
}

.title-modulos {
  text-align: center;
}

.title-modulos p {
  font-size: 16px;
}

.modulo-fila1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}

.modulo {
  position: relative;
  padding-left: 40px;
}

.modulo p {
  line-height: 25px;
}

.mod-icons {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
}

.button-container1 {
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*SECCION 5*/
.section-five {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 50px 100px 50px 100px;
  width: 100%;
  font-size: 14px;
}

.section-five-img {
  width: 100%;
  height: 100%;
  padding-top: 35px;
}

.img-desempeño {
  max-width: 100%;
  min-width: 400px;
  height: 550px;
}

.text-desempeño {
  padding-left: 60px;
}

.desempeño-items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desempeño-items div p {
  padding-left: 6px;
}

.button-container {
  margin-top: 5px;
}

/*SECCIÓN 6*/
.section-six {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 80px 100px 50px 100px;
  width: 100%;
  font-size: 14px;
}

.section-six-img {
  width: 100%;
  height: 100%;
  padding-top: 35px;
}

.img-kpi {
  max-width: 100%;
  min-width: 400px;
  height: 550px;
}

.text-kpi {
  padding-right: 60px;
}

.kpi-items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kpi-items div p {
  padding-left: 6px;
}

.button-container {
  margin-top: 5px;
}

/*SECCION 7*/
.section-seven {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 80px 100px 50px 100px;
  width: 100%;
  font-size: 14px;
}

.section-seven-img {
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.img-escala {
  max-width: 100%;
  min-width: 400px;
  height: 450px;
}

.text-escala {
  padding-left: 60px;
}

.escala-items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.escala-items div p {
  padding-left: 6px;
}

.button-container {
  margin-top: 5px;
}

/*SECCIÓN 8*/
.section-eight {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 80px 100px 50px 100px;
  width: 100%;
  font-size: 14px;
}

.section-eight-img {
  width: 100%;
  height: 100%;
  padding-top: 70px;
}

.img-carrera {
  max-width: 100%;
  min-width: 400px;
  height: 430px;
}

.text-carrera {
  padding-right: 60px;
}

.carrera-items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carrera-items div p {
  padding-left: 6px;
}

.button-container {
  margin-top: 5px;
}

/*SECCIÓN 9*/
.section-nine {
  padding: 80px 100px 50px 100px;
}

.title-plan-medida {
  text-align: center;
  padding-bottom: 20px;
}

.plan-mes-anho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan_tarifa {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
}

.planes-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.planes-mod {
  margin-bottom: 60px;
}

.planes-mod p {
  text-align: start;
  padding-left: 6px;
}

.btn-popular {
  justify-items: center;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #2F80ED;
  background-color: rgba(45, 156, 219, 0.2);
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 40px;
  text-decoration: none;
  height: 46px;
  line-height: 15px;
}

.boton-popu {
  padding-bottom: 25px;
}

.plan-mes-anho {
  font-size: 16px;
  font-weight: 600;
}

.plan-mes-anho div {
  margin: 0 6px;
}

.switch {
  background: #2F80ED;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  background: #f1f1f1;
  top: 1px;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3 ease all;
  transition: .3 ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #ffffff;
}

.planes {
  border: solid 2px #E5E5E5;
  padding: 15px;
  font-size: 14px;
  border-radius: 6px;
  max-width: 350px;
}

.box-button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bold-seccion {
  background-color: blanchedalmond;
}

/*SECCIÓN 10*/
.section-then {
  padding: 0 300px 50px 300px;
  text-align: center;
}

.img-contacto {
  width: 450px;
  height: 450px;
}

/*FOOTER*/
.wel-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 2px #E5E5E5;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container div {
  font-size: 12px;
  font-weight: 500;
}

.ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  position: relative;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes1 {
  margin-left: 14px;
  list-style: none;
  text-decoration: none;
}

.redes-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-logo-redes {
  margin-left: 10px;
}

.logo-footer {
  position: absolute;
  top: -40px;
  left: 0px;
}

.logo-footer2 {
  display: none;
}

.redes1 a {
  color: #000000;
}

.redes .redes1 a:hover {
  color: #008EDE;
}

.redes .redes1 a:active {
  color: #027EC3;
}

/*Tamaño extra largo */
@media (max-width: 1200px) {
  /*BANER PRINCIPAL*/
  .img-banner-prin {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  .banner-principal {
    height: 100%;
  }
  .text-banner {
    padding-top: 80px;
    padding-left: 100px;
  }
  /*SECCION 2*/
  .section_tecnologia {
    padding: 60px 50px 0 50px;
  }
  .logo_empresas {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .section_logo_empre {
    padding: 0 50px;
    text-align: center;
  }
  .img-logo {
    width: 140px;
    height: 140px;
  }
  /*SECCION 3*/
  .section-three {
    padding: 50px;
  }
  /*SECCIÓN 4*/
  .section-four {
    padding: 60px 180px 50px 180px;
  }
  /*SECCION 5*/
  .section-five {
    padding: 50px;
  }
  /*SECCION 6*/
  .section-five {
    padding: 50px;
  }
  /*SECCION 7*/
  .section-seven {
    padding: 50px;
  }
  /*SECCION 8*/
  .section-eight {
    padding: 50px;
  }
  /*SECCION 9*/
  .section-nine {
    padding: 50px;
  }
  /*SECCIÓN 10*/
  .section-then {
    padding: 0 200px 50px 200px;
  }
}

/*Tamaño largo */
@media (max-width: 992px) {
  /* BANNER PRINCIPAL*/
  .banner-principal {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .img-banner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img-banner-prin {
    width: auto;
    height: auto;
    min-width: 100%;
  }
  .text-banner {
    margin: 0;
  }
  .text-banner p {
    font-size: 14px;
  }
  /*SECCION 2*/
  .text-tec-izq p {
    font-size: 14px;
  }
  .tec_icons {
    font-size: 14px;
  }
  .section_tecnologia {
    padding: 0;
  }
  /*SECCION 3*/
  .section-three {
    padding: 50px 0;
    gap: 20px;
  }
  .text-colaboradores {
    padding-right: 20px;
  }
  .img-colaboradores {
    min-width: 350px;
  }
  /*SECCIÓN 4*/
  .section-four {
    padding: 60px 120px 50px 120px;
  }
  /*SECCION 5*/
  .section-five {
    padding: 50px 0;
    gap: 20px;
  }
  .text-desempeño {
    padding-left: 20px;
  }
  .img-desempeño {
    min-width: 350px;
  }
  /*SECCION 6*/
  .section-six {
    padding: 50px 0;
    gap: 20px;
  }
  .text-kpi {
    padding-right: 20px;
  }
  .img-kpi {
    min-width: 350px;
  }
  /*SECCION 7*/
  .section-seven {
    padding: 50px 0;
    gap: 20px;
  }
  .text-escala {
    padding-left: 20px;
  }
  .img-escala {
    min-width: 350px;
  }
  /*SECCION 8*/
  .section-eight {
    padding: 50px 0;
    gap: 20px;
  }
  .text-carrera {
    padding-right: 20px;
  }
  .img-carrera {
    min-width: 350px;
  }
  /*SECCION 9*/
  .section-nine {
    padding: 50px 0;
    gap: 20px;
  }
  .plan_tarifa {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .planes {
    min-width: 100%;
  }
  /*SECCIÓN 10*/
  .section-then {
    padding: 0 100px 50px 100px;
  }
}

/*Tamaño medio */
@media (max-width: 768px) {
  /*BANNER PRINCIPAL*/
  .banner-principal {
    position: relative;
    border-radius: 0;
    background-color: rgba(46, 121, 165, 0.03);
  }
  .text-banner {
    position: absolute;
    left: 0;
    top: 10;
    text-align: center;
    padding: 20px 100px;
  }
  .img-banner-prin {
    opacity: 0.2;
  }
  /*SECCION 2*/
  .text-tec-izq {
    padding: 0 10px 0 10px;
    font-size: 12px;
  }
  .icon_container {
    font-size: 12px;
  }
  .titulo_mediano {
    line-height: 40px;
  }
  .section_logo_empre {
    font-size: 12px;
  }
  .logo_empresas {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .titulo_pequeño {
    line-height: 35px;
  }
  /*SECCION 3*/
  .section-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-three-img {
    width: 100%;
    text-align: center;
  }
  .text-colaboradores {
    font-size: 12px;
    padding: 20px 20px 30px 20px;
  }
  .button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boton_celeste {
    font-size: 12px;
  }
  /*SECCIÓN 4*/
  .section-four {
    padding: 60px 50px 50px 50px;
  }
  .modulo-fila1 {
    gap: 15px;
  }
  .title-modulos {
    font-size: 12px;
  }
  /*SECCION 5*/
  .section-five {
    display: inline-block;
    padding-bottom: 0;
  }
  .section-five-img {
    width: 100%;
    text-align: center;
  }
  .text-desempeño {
    font-size: 12px;
    padding: 20px 20px 30px 20px;
  }
  .button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boton_celeste {
    font-size: 12px;
  }
  /*SECCION 6*/
  .section-six {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .section-six-img {
    width: 100%;
    text-align: center;
  }
  .text-kpi {
    font-size: 12px;
    padding: 20px 20px 30px 20px;
  }
  .button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boton_celeste {
    font-size: 12px;
  }
  /*SECCION 7*/
  .section-seven {
    display: inline-block;
    padding-bottom: 0;
  }
  .section-seven-img {
    width: 100%;
    text-align: center;
    padding-top: 35px;
  }
  .text-escala {
    font-size: 12px;
    padding: 20px 20px 30px 20px;
  }
  .button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boton_celeste {
    font-size: 12px;
  }
  /*SECCION 8*/
  .section-eight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .section-eight-img {
    width: 100%;
    text-align: center;
    padding-top: 35px;
  }
  .text-carrera {
    font-size: 12px;
    padding: 20px 20px 30px 20px;
  }
  .button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boton_celeste {
    font-size: 12px;
  }
  .planes {
    font-size: 12px;
  }
  .title-plan-medida {
    font-size: 12px;
  }
  /*SECCION 10*/
  .section-then {
    padding: 0 50px 50px 50px;
  }
  .contac-container {
    margin-top: 0px;
    font-size: 12px;
  }
  .img-contacto {
    width: 350px;
    height: 350px;
  }
  /*FOOTER*/
  .wel-footer {
    height: auto;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .redes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .redes1 {
    margin-bottom: 8px;
    margin-left: 0;
  }
  .redes-logos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 8px;
  }
  .img-logo-redes {
    margin: 0;
    padding: 0 8px;
  }
  .ubicacion {
    margin-bottom: 10px;
  }
  .logo-footer {
    display: none;
  }
  .logo-footer2 {
    display: inline-block;
    text-align: center;
  }
  .menus {
    margin-left: 0;
  }
}

/*Tamaño mobile */
@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  /*NAB-MENU*/
  .nav-main .container {
    width: 100%;
  }
  /*.btn_menu{
        display: inline-flex;
        border: solid 2px red;
    }

    .nav-menu{
        border: solid 6px red;
        position: fixed;
        width: 100vw;
        height: calc(100% -60px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all -4s;
        flex-direction: column;
    }
    .menus{
        margin: 30px 0 0 0;
        line-height: 30px;
    }*/
  /**BANNER PRINCIPAL*/
  .text-banner {
    padding: 20px 10px;
    font-size: 10px;
    width: 100%;
  }
  .text-banner p {
    padding-bottom: 10px;
  }
  .img-banner {
    width: auto;
    height: auto;
    min-height: 400px;
  }
  .img-banner-prin {
    width: 100%;
    height: auto;
  }
  /*SECCION 2*/
  .section_tecnologia {
    display: block;
  }
  .tec_icons {
    padding-bottom: 10px;
  }
  .section_logo_empre {
    padding: 0;
  }
  .logo_empresas {
    gap: 15px;
  }
  .logo_empresas {
    -ms-grid-columns: (minmax(auto, 1fr))[2];
        grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
  .img-logo {
    width: 100%;
    height: 100%;
  }
  /*SECCIÓN 3*/
  .section-three-img {
    height: 100%;
    min-width: 100%;
  }
  .img-colaboradores {
    width: auto;
    height: auto;
    min-width: 100%;
  }
  .text-colaboradores {
    padding: 0;
  }
  /*SECCIÓN 4*/
  .section-four {
    padding: 60px 10px 50px 10px;
    font-size: 14px;
  }
  .modulo-fila1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .modulo {
    padding-bottom: 15px;
  }
  .title-modulos p {
    font-size: 14px;
  }
  /*SECCIÓN 5*/
  .section-five-img {
    height: 100%;
    min-width: 100%;
  }
  .img-desempeño {
    width: auto;
    height: auto;
    min-width: 100%;
  }
  .text-desempeño {
    padding: 0;
  }
  /*SECCIÓN 6*/
  .section-six-img {
    height: 100%;
    min-width: 100%;
  }
  .img-kpi {
    width: auto;
    height: auto;
    min-width: 100%;
  }
  .text-kpi {
    padding: 0;
  }
  /*SECCIÓN 7*/
  .section-seven-img {
    height: 100%;
    min-width: 100%;
  }
  .img-escala {
    width: auto;
    height: auto;
    min-width: 100%;
  }
  .text-escala {
    padding: 0;
  }
  /*SECCIÓN 8*/
  .section-eight-img {
    height: 100%;
    min-width: 100%;
  }
  .img-carrera {
    width: auto;
    height: auto;
    min-width: 100%;
  }
  .text-carrera {
    padding: 0;
  }
  /*SECCIÓN 9*/
  .plan_tarifa {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .box-cajas {
    width: 100%;
    min-width: 100%;
  }
  /*SECCION 10*/
  .section-then {
    padding: 0 0 30px 0;
  }
  .img-contacto {
    width: 100%;
    height: 100%;
  }
}

.danger {
  border: solid 4px red;
}
/*# sourceMappingURL=main.css.map */